/node_modules
/public/hot
/public/storage
/public/studentImages
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/uploads
database/migrations/2023_04_03_054732_add_to_payslip.php
/database
/storage
